django
django-jsonview==0.5.0

coverage
coveralls
mock>=1.0.1
nose>=1.3.0
django-nose>=1.2
flake8>=2.1.0
restructuredtext_lint==0.12.2
https://github.com/gerlachry/testing.elasticsearch/archive/master.zip
tox>=1.7.0
